.cards{
  max-width: 984px;
  min-width: 296px;
  padding-top: 92px;
  margin: 0 auto;
}

@media screen and (max-width:850px) {
  .cards {
    padding-top: 88px;
  }
}

@media screen and (max-width:650px) {
  .cards {
    padding-top: 64px;
  }
}
