.invitation {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  -webkit-box-align: center;
  align-items: center;
  justify-items: center;
  max-width: 1184px;
  min-height: 740px;
  text-align: center;
  margin: 0 auto;
}



@media screen and (max-width:768px) {
  .invitation {
    min-height: 746px;
  }
}

@media screen and (max-width:600px) {
  .invitation {
    min-height: 254px;
    grid-gap: 16px;
    margin-top: 16px;
  }
}
