.city-card__image {
  grid-area: card-image;
  width: 100%;
  object-fit: fill;
  background-position: center;
}

@media screen and (max-width:650px) {
  .city-card__image {
    margin-left: -16px;
    width: 100vw;
  }
}
