.city-card__button {
  box-sizing: content-box;
  display: flex;
  width: 248px;
  height: 48px;


}




@media screen and (max-width:650px) {
  .city-card__button {
    width: auto;
    margin: 0 16px;
  }
}
