.city-card__button {
  box-sizing: content-box;
  display: flex;
  width: 248px;
  height: 48px;
  background-color: #0278FE;
  color: white;
  text-decoration: none;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  margin: 0;

}

.city-card__button:hover {
  background-color: #0063D2;
}


@media screen and (max-width:650px) {
  .city-card__button {
    width: auto;
    margin: 0 16px;
  }
}
