.front-page__title {
  width: 80%;
  font-size: 96px;
  line-height: 1.1;
  font-weight: 900;
  margin: 92px auto 0;
}

@media screen and (max-width:850px) {
  .front-page__title {
    font-size: 12.5vw;
    margin-top: 88px;
  }
}

@media screen and (max-width:768px) {
  .front-page__title {
    margin-top: 50px;
  }
}
