.header__subtitle {
  width: 75%;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.2;
  margin: 32px auto 64px;
}

@media screen and (max-width:635px) {
  .header__subtitle {
    font-size: 5vw;
    margin-top: 16px;
  }
}
