.page__wrapper-element {
  max-width: 1280px;
  min-width: 296px;
  margin: 0 auto;
}

@media screen and (max-width:1000px) {
  .page__wrapper-element {
    padding: 0 24px;
  }
}

@media screen and (max-width:500px) {
  .page__wrapper-element {
    padding: 0 16px;
  }
}
