.city-card__artist {
  grid-area: card-artist;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}



@media screen and (max-width:650px) {
  .city-card__artist {
    margin: 0 16px;
  }
}
